<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-text col-lg-4 col-md-6 col-sm-6">
                <div id="localizacao" style="text-align: center;">
                <a>Matsu Proprietary</a>
                <p>Rua Coronel Fernando Prestes, 350 - Sala 162</p>
                <p>Centro - Santo André</p>
                <p>CEP 09020-110</p>
                <p>Telefone (11) 4992-3565</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <h4>Especialidades</h4>
                <span>Fisiterapia</span>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <h4>Especialidades</h4>
                <span>Fisiterapia</span>
            </div>
            
        </div>
    </div>
    <div class="footer-credits">
        <p>Designer: Tailane Brito</p>
    </div>
</footer>