<footer id="footer" class="footer">
    <p class="footer-text">
        <a>Matsu Proprietary</a>
        <p>Rua Coronel Fernando Prestes, 350 - Sala 162</p>
        <p>Centro - Santo André</p>
        <p>CEP 09020-110</p>
        <p>Telefone (11) 4992-3565</p>
    </p>
</footer>