<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <!--start logo https://mots.web.att.com/--->
            <a class="navbar-brand center" href="/" title="Matsu Espaço Saúde">
                <center>
                <img width="50" height="50" class="d-inline-block align-middle" alt="att globe" src="/img/logoMatsu.png" 
                    style="margin-top: 10px;" />
                    <h1>Matsu </h1>
                    <h3>Espaço Saúde</h3>
                </center>
            </a>  
            <!--end logo --->

            <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarsExampleDefault" aria-label="Toggle navigation" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- start menu items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    
                    <!-- BRT -->
                    <li>
                        <a class="nav-link " href="/agendamento2">Agendamento</a> <!-- stay -->
                    </li>
                    <li>
                       <!-- <a class="nav-link " href="/agendamento">Agendamento</a> stay -->
                    </li>

                    <!-- Convergent Account Reports added Sep 04th 2020 tn629a -->
                    <li>
                        <a class="nav-link" href="/contato" class="nav-link">Contato</a>
                        
                    </li>

                    <!-- DCS -->
                    <li>
                        <a  class="nav-link" href="/sobrenos" class="nav-link">Sobre Nós</a>
                    </li>
         
            </ul>
            </div>
            <!-- end menu items -->
        </div>
        </nav>
</header>