<!DOCTYPE html>
<html>
    <head>
    <title>Matus Espaço Saúde</title>
    <%- include('partials/head.ejs')%>
    </head>
   
    <body>
        <div id="wrapper">
            <div id="header">
                <%- include('partials/header.ejs')%>
            </div>
            
        
            <div id="main-contents">
                <div class="header-img">
                    <div class="header-text">
                        <h5 class="text-header">Onde voçê encontra o melhor atendimento <br/>
                            e especialidade da região<br/>
                            Matsu Espaco Saúde</h5>
                    </div>
                </div>

                <div class="especialidades">
                    <div class="row">
                        <div class="col">
                            <h4 class="semi-head">Acupuntura</h4>
                        </div>
                        <div class="col">
                            <h4 class="semi-head">Clínica Médica</h4>
                        </div>
                        <div class="col">
                            <h4 class="semi-head">Fisiatria</h4>
                        </div>
                        <div class="col">
                            <h4 class="semi-head">Geriatria</h4>
                        </div>
                        <div class="col">
                            <h4 class="semi-head">Psiaquiatria</h4>
                        </div>
                    </div>
                </div>

                
                <div class="clinica">
                    <h1 class="h1-home">Ambiente</h1>
                        <h4 style="text-align: center; padding-bottom: 30px;">Confira o nosso ambiente e venha nos conhecer!</h4>
                        <div class="row">
                            <div class="col">
                                <div class="card card-image img-card">
                                    <center>
                                    <img src="img/espaco/recepcao.jpg" height="200px"/> 
                                    <div class="pic-content">
                                        <span style="font-size: 16px;">Aqui é onde tudo acontece, nossos agendamentos e o melhor
                                            atendimento que você vai encontrar</span>
                                    </div>
                                    </center>        
                                </div>
                            </div>
                            <div class="col">
                                <div  class="card card-image img-card">
                                   <center>
                                    <img src="img/espaco/recepcao1.jpg" height="200px"/>
                                    <div class="pic-content">
                                        <span>A orquídea branca é a representação de elegância e sofisticação.
                                            Ela transmite inocência, pureza, amor puro e espiritualidade.
                                            Entregar um arranjo de orquídea branca a alguém especial é uma 
                                            maneira de expressar amor puro e duradouro.</span>
                                    </div>
                                    </center>
                                </div>
                                
                            </div>
                            <div class="col">
                                <div  class="card card-image img-card">
                                        <center>
                                        <img src="img/espaco/consultorio.jpg" height="200px">
                                        <div class="pic-content">
                                            <span>Essa é nossa sala de atendimento dinâmico.
                                                Venha fazer parte de um grupo no qual você se sinta à vontade</span>
                                        </div>
                                        </center>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row" style="padding-top: 50px;">
                            <div class="col">
                                <div class="card card-image img-card">
                                    <center>
                                    <img src="img/espaco/sala_de_espera.jpg" height="300px"/>   
                                    <div class="pic-content">
                                        <span>Aqui é onde tudo acontece, nossos agendamentos e o melhor <br/>
                                            atendimento que você vai encontrar</span>
                                    </div>
                                    
                                    </center>
                                </div>
                                
                            
                            </div>
                            <div class="col" style="padding-left: 10px;">
                                <div  class="card card-image img-card">
                                    <center>
                                   <img src="img/espaco/sala_de_espera2.jpg" height="300px"/>
                                   <div class="pic-content">
                                    <span style="font-size: 16px;">A sofisticação do nosso ambiente conta com uma alta elevação <br/>
                                        de humor e muito profissionalismo. <br/>
                                        Nossa alegria é fazer com que você se sinta em casa.</span>
                                    </div>
                                    </center>
                                </div>
                                <span>
                            </div>
                        </div>
                   
                </div>

                <div class="equipe">
                    <h1 class="h1-home">Nossa equipe</h1>
                    <div class="row" style="padding-top: 20px;">
                        <div class="col">
                            <div class="card-image img-card">
                                <center>
                                <img src="img/equipe/drC.png" height="200px"/>
                                <div class="pic-content">
                                    <span>Dr. A com 15 anos de experiencia em Fisioterapia</span>
                                </div>
                                </center>         
                            </div>    
                        </div>
                        <div class="col" style="padding-left: 10px;">
                            
                            <div  class="card-image img-card">
                                <center>
                               <img src="img/equipe/drA.png" height="200px"/>
                               <div class="pic-content">
                                    <span>Dr. B com 10 anos trabalhando em Acupuntura</span>
                               </div>
                                </center>
                            </div>                                       
                        </div>
                        <div class="col" style="padding-left: 10px;">
                            <div  class="card-image img-card">
                                <center>
                                <img src="img/equipe/drB.png" height="200px"/>
                                <div class="pic-content">
                                    <span>Dr. C com 20 anos de expericiencia em Geriatria</span>
                                </div>
                                </center>
                            </div>  
                        </div>
                    </div>
                </div>
                
    </body>
    <%- include('partials/footer.ejs') %>
</html>