<!DOCTYPE html>
<html>
    <head>
    <title>Matsu | Agendar</title>
    <%- include('../partials/head.ejs')%>
    </head>
   
    <body>
        <div id="wrapper">
            <div id="header">
                <%- include('../partials/header.ejs')%>
            </div>
            
            
            <div id="main-contents">
                <span>Faca seu agendamento conosco, Verifique as opcoes de horario abaixo:</span>
                <br/>
                <iframe class="responsive-iframe" src="calendar/index.html" width="98%" height="600" allowfullscreen="allowfullscreen"></iframe>
                
            </div>
        </div>
        <%- include('../partials/javascript.ejs') %>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>